/* 
font particular 
    font-family: "Gochi Hand", serif;
    font-weight: 400;
    font-style: normal;   
 */

/* BOOTSTRAP DEBUG */
[class^='container'] {
    /* border: 1px dashed black; */
    /* background-color: lightblue; */
    min-height: 80vh;
}

[class^='row'] {
    /* border: 1px dashed red; */
} 

[class^='col'] {
    /* border: 1px solid grey; */
    /* background-color: aqua; */
    /* height: 100px; */
} 

/* general settings */
body{
    background-color: #18a495;
}
h1{
    font-family: "Gochi Hand", serif;
    font-size: 80px;
    color: white;
}

/* parte sinistra */

.number-box{
display: flex;
justify-content: space-around;
padding: 5px 0px;
}

.number {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #b2c6c4;
    box-shadow: -2px 2px 1px #b2c6c4;
    color: black;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
  }

.number:active{
    background-color: #f68da0 ;
    box-shadow: -2px 2px 1px #c82027;
    border: 1px solid #c82027;
}